
<!DOCTYPE html>
<html>
<head>
	<title>Guide Portal</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

     <script type="text/javascript">
        $(document).ready(function(){
            $(".button-collapse").sideNav({
                menuWidth: 250, // Default is 300
                edge: 'left', // Choose the horizontal origin
                closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: false // Choose whether you can drag to open on touch screens
            });
            $('.modal').modal();
            });
    </script>
    <style>
      .container {
        margin: 0 auto;
        max-width: 1280px;
        width: 90%;
      }
      @media  only screen and (min-width: 601px){.container{width:60%}}
      @media  only screen and (min-width: 993px){.container{width:90%}}
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="edited = 0">

	<nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/portal" class="brand-logo">Project Portal</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/portal/guide/students/crud/"><i class="material-icons left">list</i>Students</a></li>
                <li><a href="/portal/guide/projects/crud/"><i class="material-icons left">list</i>Projects</a></li>
                <li><a href="/portal/signout/"><i class="material-icons left">perm_identity</i>Logout</a></li>
            </ul>

            <ul class="side-nav" id="mobile-demo">
                <li><a href="/portal/signout/"><i class="material-icons left">perm_identity</i>Logout</a></li>
             </ul>
        </div>
   	</nav>

	<div class="container">
		<input type="hidden" id="last_login" value="{{ last_login }}" />

		<div class="row">
			<div class="col s8">
			  Search: 
			  <div class="input-field inline">
				<input id="tableValue" type="text" class="validate" ng-model="tableValue">
			  </div>
			</div>
		</div>
		
		<table class="bordered">
			<thead>
				<tr>
					<th ng-click="orderByMe('fields.project_id')">Project Id</th>
					<th ng-click="orderByMe('fields.name')">Project Name</th>
					<th ng-click="orderByMe('fields.description')">Description</th>
					<th ng-click="orderByMe('fields.branch')">Branch</th>
					<th ng-click="orderByMe('fields.year')">Year</th>
					<th><a data-target="modal1" class="btn-floating btn-small waves-effect waves-light red modal-trigger"><i class="material-icons" ng-click="addProject()">add</i></a></th>
				</tr>
			</thead>
			<tbody>
				{% csrf_token %}
				{% verbatim %}
				<tr ng-repeat="project in projects | orderBy:sort:reverse | filter: tableValue">
					<td><a href="/portal/guide/projects/{{project.fields.project_id}}/">{{project.fields.project_id}}</a></td>

					<td ng-if="edited == project.fields.project_id"><div class="input-field"><input id="name" type="text" value={{project.fields.name}} /></div></td>
					<td ng-if="edited == project.fields.project_id"><div class="input-field"><input id="description" type="text" value={{project.fields.description}} /></div></div></td>
					<td ng-if="edited == project.fields.project_id"><div class="input-field"><input id="branch" type="text" value={{project.fields.branch}} /></div></td>
					<td ng-if="edited == project.fields.project_id"><div class="input-field"><input id="year" type="text" value={{project.fields.year}} /></div></td>	

					<td ng-if="edited != project.fields.project_id">{{project.fields.name}}</td>
					<td ng-if="edited != project.fields.project_id">{{project.fields.description}}</td>
					<td ng-if="edited != project.fields.project_id">{{project.fields.branch}}</td>
					<td ng-if="edited != project.fields.project_id">{{project.fields.year}}</td>

					<td ng-if="edited != project.fields.project_id"><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons" ng-click="edit(project.fields.project_id)">create</i></a></td>
					<td ng-if="edited == project.fields.project_id"><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons" ng-click="updatevalue(project)">update</i></a></td>
					
					<td ng-if="edited == project.fields.project_id"><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons" ng-click="edit(0)">cancel</i></a></td>
					<td ng-if="edited != project.fields.project_id"><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons" ng-click="delete(project.fields.project_id)">delete</i></a></td>
				</tr>
				{% endverbatim %}
			</tbody>
		</table>


		<div id="modal1" class="modal bottom-sheet">
		    <div class="modal-content">
		    	<h4>Add Project</h4>
		        <div class="row">
	        		<div class="col s12 m12">
	        			<div class="input-field inline">
							<input id="project_id_add" type="text" name="project_id" required="yes" maxlength="10" title="Alphanumerics, only with 10 characters">
							<label for="project_id_add">Project ID</label>
						</div>
						<div class="input-field inline">
							<input id="name_add" type="text" name="name" required="yes" maxlength="20" title="Name">
							<label for="name_add">Name</label>
						</div>
						<div class="input-field inline">
							<input id="description_add" type="text" name="description" required="yes" maxlength="20" title="Description">
							<label for="description_add">Description</label>
						</div>
						<div class="input-field inline">
							<input id="branch_add" type="text" name="branch" required="yes" maxlength="3" title="3 letter branch name">
							<label for="branch_add">Branch</label>
						</div>
						<div class="input-field inline">
							<input id="year_add" type="text" name="year" required="yes" maxlength="4" title="Joining year">
							<label for="last_name">Year</label>
						</div>
						<div class="input-field inline">
	                		<input type="button" class="waves-effect waves-light btn blue" ng-click="addproject()" value="Add project">
	                	</div>
					</div>
			    </div>
			</div>
		</div>

	</div>

	<script type="text/javascript">
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {

			$scope.sort = "fields.project_id";
			$scope.reverse = false;
			$scope.add = false;
			
			$scope.edit= function(project_id){
            	$scope.edited= project_id;
            }


 			
		 	// new changes		
			$scope.delete= function(project_id){
				var message= confirm('Are you sure you want to delete this record from the database?');
			    if (message) {
					$http.get("/portal/guide/projects/delete/"+project_id+"/").then(function(response) {
			        	$scope.deleteinfo = response.data;
				        if($scope.deleteinfo=="OK"){
						Materialize.toast('Deleted the project with ID: '+ project_id, 4000);
							$scope.refresh();
				        }
			    	});
				} else {
					Materialize.toast('Changed mind', 2000);
				}
			   
            }


             $scope.addproject = function(){
			    if($('#project_id_add').val() != "" && $('#name_add').val() != "" && $('#description_add').val() != "" && $('#branch_add').val() != "" && $('#year_add').val() != ""){
			    		$http({
					        method : "POST",
					        headers: {
								'X-CSRFToken': jQuery("[name=csrfmiddlewaretoken]").val(),
							},
					  		data: {	'project_id': $('#project_id_add').val(), 
					  				'name': $('#name_add').val(), 
					  				'description': $('#description_add').val(), 
					  				'branch': $('#branch_add').val(), 
					  				'year': $('#year_add').val()
					  			},
					        url : "/portal/guide/projects/add/"

					    }).then(function mySuccess(response) {
						    if(response.data == "Ok"){
						    	Materialize.toast('Project details for id ' + $('#project_id_add').val() +  ' added', 4000);
								$scope.refresh();
								$('#project_id_add').val("");
								$('#name_add').val("");
								$('#description_add').val("");
								$('#branch_add').val("");
								$('#year_add').val("");
								$('#modal1').modal('close');
						    }
					    }, function myError(response) {
					        alert(response.statusText);
					    });
				}
				else{
					Materialize.toast('Fill all the fields to continue', 4000);
				}
			    
			}


            $scope.updatevalue = function(project){
			    if(project.fields.name == $('#name').val() && project.fields.description == $('#description').val() && project.fields.branch == $('#branch').val() && project.fields.year == $('#year').val()){
						$scope.edited= 0;
						Materialize.toast('No data is updated', 4000);
						return;
					}
			    
				    $http({
				        method : "POST",
				        headers: {
							'X-CSRFToken': jQuery("[name=csrfmiddlewaretoken]").val(),
						},
				  		data: {	'project_id': project.fields.project_id, 
				  				'name': $('#name').val(), 
				  				'description': $('#description').val(), 
				  				'branch': $('#branch').val(), 
				  				'year': $('#year').val()
				  			},
				        url : "/portal/guide/projects/update/"

				    }).then(function mySuccess(response) {
					    if(response.data == "Ok"){
							$scope.edited= 0;
							$scope.refresh();
						    	Materialize.toast('Project details for id ' + project.fields.project_id +  ' updated', 4000);
					    }
				    }, function myError(response) {
				        alert(response.statusText);
						$scope.edited= 0;
				    });
			}



            $scope.refresh= function(){
			    $http.get("/portal/guide/projects/").then(function(response) {
			  		$scope.projects = response.data;
			    });
			}
			
			$scope.orderByMe = function(order) {
				$scope.sort = order;
				$scope.reverse = !$scope.reverse;
			}
			
			$scope.addProject = function(){
				$scope.add = !$scope.add;
			}
			
			$scope.refresh();
		});
     
	</script>
</body>
</html>