
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="edited = 0">
	<div class="container">
		
		<div class="row">
			<div class="col s12">
			  Search: 
			  <div class="input-field inline">
				<input id="tableValue" type="text" class="validate" ng-model="tableValue">
				<label for="tableValue" data-error="wrong" data-success="right"></label>
			  </div>
			</div>
		</div>
		
		<table class="bordered">
			<thead>
				<tr>
					<th ng-click="orderByMe('fields.stud_id')">Student Id</th>
					<th ng-click="orderByMe('fields.first_name')">First Name</th>
					<th ng-click="orderByMe('fields.last_name')">Last Name</th>
					<th ng-click="orderByMe('fields.branch')">Branch</th>
					<th ng-click="orderByMe('fields.year')">Year</th>
					<th><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons" ng-click="addStud()">add</i></a></th>
				</tr>
			</thead>
			<tbody>
				{% csrf_token %}
				{% verbatim %}
				<tr ng-repeat="student in students | orderBy:sort:reverse | filter: tableValue">
					<td ng-if="edited == student.pk">{{student.fields.stud_id}}</td>
					<td ng-if="edited == student.pk"><div class="input-field"><input id="first_name" type="text" value={{student.fields.first_name}} /></div></td>
					<td ng-if="edited == student.pk"><div class="input-field"><input id="last_name" type="text" value={{student.fields.last_name}} /></div></div></td>
					<td ng-if="edited == student.pk"><div class="input-field"><input id="branch" type="text" value={{student.fields.branch}} /></div></td>
					<td ng-if="edited == student.pk"><div class="input-field"><input id="year" type="text" value={{student.fields.year}} /></div></td>	

					<td ng-if="edited != student.pk">{{student.fields.stud_id}}</td>
					<td ng-if="edited != student.pk">{{student.fields.first_name}}</td>
					<td ng-if="edited != student.pk">{{student.fields.last_name}}</td>
					<td ng-if="edited != student.pk">{{student.fields.branch}}</td>
					<td ng-if="edited != student.pk">{{student.fields.year}}</td>

					<td ng-if="edited != student.pk"><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons" ng-click="edit(student.pk)">create</i></a></td>
					<td ng-if="edited == student.pk"><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons" ng-click="updatevalue(student)">update</i></a></td>
					
					<td ng-if="edited == student.pk"><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons" ng-click="edit(0)">cancel</i></a></td>
					<td ng-if="edited != student.pk"><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons" ng-click="delete(student.pk)">delete</i></a></td>
                                        </a></i></td>
				</tr>
				{% endverbatim %}
			</tbody>
		</table>

		<div ng-if="add" class="row">
            <div class="col s12">
				<form class="col s12 m12" method="POST" action="/portal/students/add/" accept-charset="UTF-8">
					{% csrf_token %}
					<div class="input-field col s12 m4 offset-m4 offset-l4">
						<input id="stud_id" type="text" name="stud_id" required="yes" maxlength="10" title="Alphanumerics, only with 10 characters">
						<label for="stud_id">Student ID</label><br>
					</div>

					<div class="input-field col s12 m4 offset-m4 offset-l4">
						<input id="first_name" type="text" name="first_name" required="yes" maxlength="20" title="First Name">
						<label for="first_name">First Name</label><br>
					</div>

					<div class="input-field col s12 m4 offset-m4 offset-l4">
						<input id="last_name" type="text" name="last_name" required="yes" maxlength="20" title="Last_name">
						<label for="last_name">Last Name</label><br>
					</div>
					<div class="input-field col s12 m4 offset-m4 offset-l4">
						<input id="branch" type="text" name="branch" required="yes" maxlength="3" title="3 letter branch name">
						<label for="last_name">Branch</label><br>
					</div>

					<div class="input-field col s12 m4 offset-m4 offset-l4">
						<input id="year" type="text" name="year" required="yes" maxlength="4" title="Joining year">
						<label for="last_name">Year</label>
					</div>
					<div class="row">
		             	<div class="input-field col s12 center">
		                	<input type="submit" class="waves-effect waves-light btn blue" value="Add student">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {
			
			$scope.sort = "fields.stud_id";
			$scope.reverse = false;
			$scope.add = false;
			
			$scope.edit= function(pk){
            	$scope.edited= pk;
            }


 			
			$scope.delete= function(pk){
			    $http.get("/portal/students/delete/"+pk).then(function(response) {
			        $scope.deleteinfo = response.data;
			        if($scope.deleteinfo=="OK"){
			        	$scope.refresh();
			        }
			    });
            }

            $scope.updatevalue = function(student){
			    $http({
			        method : "POST",
			        headers: {
						'X-CSRFToken': jQuery("[name=csrfmiddlewaretoken]").val(),
					},
			  		data: {'pk': student.pk, 'first_name': $('#first_name').val(), 'last_name': $('#last_name').val(), 'branch': $('#branch').val(), 'year': $('#year').val()},
			        url : "/portal/students/update/"

			    }).then(function mySuccess(response) {
				    if(response.data == "Ok"){
						$scope.edited= 0;
						$scope.refresh();
					    	Materialize.toast('Student details for id ' + student.fields.stud_id +  ' updated', 4000);
				    }
			    }, function myError(response) {
			        alert(response.statusText);
					$scope.edited= 0;
			    });
			}



            $scope.refresh= function(){
			    $http.get("/portal/students/get/").then(function(response) {
			  		$scope.students = response.data;
			    });
			}
			
			$scope.orderByMe = function(order) {
				$scope.sort = order;
				$scope.reverse = !$scope.reverse;
			}
			
			$scope.addStud = function(){
				$scope.add = !$scope.add;
			}
			
			$scope.refresh();
		});
     
	</script>
</body>
</html>
