
<!DOCTYPE html>
<html>
<head>
	<title>Guide Portal</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

     <script type="text/javascript">
        $(document).ready(function(){
            $(".button-collapse").sideNav({
                menuWidth: 250, // Default is 300
                edge: 'left', // Choose the horizontal origin
                closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: false // Choose whether you can drag to open on touch screens
            });
            $('.modal').modal();
            });
    </script>
    <style>
      .container {
        margin: 0 auto;
        max-width: 1280px;
        width: 90%;
      }
      @media  only screen and (min-width: 601px){.container{width:60%}}
      @media  only screen and (min-width: 993px){.container{width:90%}}
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="edited = 0">

	<nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/portal" class="brand-logo">Project Portal</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
   	</nav>

	<div class="container">
		<input type="hidden" id="last_login" value="{{ last_login }}" />

		<div class="row">
	        <div class="col s12">
	            Project Id
	            <div class="input-field inline">
		            <input id="project_id" name="project_id" type="text" ng-change="retrieve()" ng-model="project_id" value="">
	            </div>
	            Project Name
	            <div class="input-field inline">
		            <input id="name" name="name" type="text" ng-change="retrieve()" ng-model="name">
	            </div>
	            Branch
	            <div class="input-field inline">
		            <input id="branch" name="branch" type="text" ng-change="retrieve()" ng-model="branch">
	            </div>
	            Year
	            <div class="input-field inline">
		            <input id="year" name="year" type="text" ng-change="retrieve()" ng-model="year">
	            </div>
	        </div>
      	</div>

		<table class="bordered">
			<thead>
				<tr>
					<th>Project Id</th>
					<th>Project Name</th>
					<th>Description</th>
					<th>Branch</th>
					<th>Year</th>
					<th>Guide</th>
				</tr>
			</thead>
			<tbody>
				{% csrf_token %}
				{% verbatim %}
				<tr ng-repeat="project in projects | filter: tableValue">
					<td>{{project.fields.project_id}}</td>
					<td ng-if="edited != project.fields.project_id">{{project.fields.name}}</td>
					<td ng-if="edited != project.fields.project_id">{{project.fields.description}}</td>
					<td ng-if="edited != project.fields.project_id">{{project.fields.branch}}</td>
					<td ng-if="edited != project.fields.project_id">{{project.fields.year}}</td>
					<td ng-if="edited != project.fields.project_id">{{project.fields.user.first_name}} {{project.fields.user.last_name}}</td>
				</tr>
				{% endverbatim %}
			</tbody>
		</table>
	</div>

	<script type="text/javascript">
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {

			$scope.project_id = "";
			$scope.name = "";
			$scope.branch = "";
			$scope.year = "";

			$scope.retrieve = function(){
			    $http.get("/portal/rest/projectSearch/?"+
			    	"project_id="+ $scope.project_id + 
			    	"&name=" + $scope.name +
			    	"&branch=" + $scope.branch +
			    	"&year=" + $scope.year
			    	).then(function(response) {
			  		$scope.projects = response.data;
			  		console.log($scope.projects)
			    });
			}
			$scope.retrieve();

		});
     
	</script>
</body>
</html>